
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.para
{
    color: rgb(199, 164, 48);
    font-size: 20px;
    font-family:"poppins";
    font-weight: 400;
    text-align: justify;
    height: 200px;
}
.container-div{
    background-color: rgb(197, 18, 18);
    background-image: url(https://ik.imagekit.io/9lxioulzw/college.jpg?updatedAt=1742742013921);
    height: 200px;
}
.div-para{
    color: rgb(211, 41, 11);

}